<div class="page-header">
    <h1>{{name}}</h1>
</div>
<div>
    <img src="{{image}}" alt="" />
</div>
<div>
    {{summary}}
</div>
<div>
    <h1>Ingredients</h1>

    {{#ingredients}}
    <ul>
        {{^group}}
            {{.}}
        {{/group}}
        {{#group}}
            <li>{{.}}</li>
            <ul>
                {{#ingredients}}
                    <li>{{.}}</li>
                {{/ingredients}}
            </ul>
        {{/group}}
    </ul>
    {{/ingredients}}
</div>

<div>
    <h1>Preparation Method</h1>
    {{#method}}
    <ul>{{#.}}<li>{{.}}</li>{{/.}}</ul>
    {{/method}}
</div>
