{{#data.0}}
<div class="table">
    <div class="header">
        <div class="cell">Address</div>
        <div class="cell">Name</div>

    </div>

    {{#data}}
    <a href="index.html?page=detail&data={{url}}" class="rowGroup" >
        <div class="row">
            <div class="cell"><img src="{{image}}" alt="{{name}}" /></div>
            <div class="cell">{{name}}</div>
            <div class="cell">{{cookingTime}}</div>
        </div>
    </a>
    {{/data}}

</div>
{{/data.0}}
{{^data.0}}Sorry, we currently have no recipes for you.{{/data.0}}

