<div class="table">
    <div class="header">
        <div class="cell">Name</div>
        <div class="cell">Address</div>
        <div class="cell">Action 1</div>
        <div class="cell">Action 2</div>
    </div>
    <div class="rowGroup">
        <div class="row">
            <div class="cell">Bob</div>
            <div class="cell">Address</div>
            <div class="cell">Button</div>
            <div class="cell">Another button</div>
        </div>
    </div>

</div>

Sorry, we currently have no recipes for you.