{{#data.0}}
<table id="recipe-list" class="display" cellspacing="0" width="100%">

    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Sort by Cooking Time</th>
    </tr>
    </thead>
    {{#data}}
    <tr onClick="window.location='index.html?page=detail&data={{url}}'">
        <td class="cell"><img src="{{image}}" alt="{{name}}" /></td>
        <td class="cell">{{name}}</td>
        <td class="cell">{{cookingTime}}</td>
    </tr>
    {{/data}}
</table>
{{/data.0}}
{{^data.0}}Sorry, we currently have no recipes for you.{{/data.0}}

